<% provide(:title, 'about') %>
<html>
	<body>
		<h1>about</h1>
		<div class="center hero-unit">
			<p><font color = "green">&nbsp&nbsp&nbspWe provide an easy way to find professional chefs who will to come to your place and cook, We even provide designers for your dream kitchen with optimal cost, You can find dietician through us, We give you all the information regarding health and food habits and lot more.....  </font></p>
		</div>
	</body>
</html>


