<!DOCTYPE html>
<html>
<head>
<style>
body {background-image:('x.jpg');
}
p {color: 	#4F86F7;}
</style>
</head> 
	<body bgcolor=" 	 	#F2F3F4">
		<h1 style="background-color:#A00000;color:pink;">Happy birthday sir</h1>
		<p>Savour every moment of life, for it is ephemeral</p>
		<p>from Srikanth</p>
		<p>to Sriram Dandapani</p>
		<p> Hope that your special day is full of fun and happiness, and everything that you enjoy</p>
		<img src="/x.jpeg" alt="Happy birthday">
	</body>
</html>


	</body>
</html>