<!DOCTYPE html>
<html>
<head>
<style>
body {background-image:('x.jpg');
}
p {color: 	#4F86F7;}
</style>
</head> 
	<body bgcolor=" 	 	#F2F3F4">
		<h1 style="background-color:#A00000;color:pink;">Happy birthday ra Karthik</h1>
		<p>Savour every moment of life, for it is ephemeral</p>
		<p>from Srikanth</p>
		<p>to Karthik</p>
		<p> Hope that your special day is full of fun and happiness, and everything that you enjoy</p>
		<img src="/x.jpeg" alt="Happy birthday">
		<img src="/karthik.jpg" style="width: 180px; float: left; margin-bottom: 15px; margin-right: 3px;"><img src="/karthik2.jpg" style="width: 180px; float: left; margin-bottom: 15px; margin-right: 3px;"><img src="/mine.jpg" style="width: 180px; float: left; margin-bottom: 15px; margin-right:3px;">
	</body>
</html>


	</body>
</html>