<% provide(:title, 'chefs') %>
<!DOCTYPE html>
<html>
	<body>
		<div class="center hero-unit">
			<h1><font size = "10" color = "#A00000">Welcome to Super Chefs </font></h1>
			<p>Here you can find chefs ONLINE &nbsp <a href="http://google.com" target="_blank">GOOGLE</a></p>
			<p><font>Have fun cooking </font></p>
			<p>welcome CHEFS to your place for cooking </p>
		</div>
	</body>
</html>


