<% provide(:title, 'help') %>
<html>
	<body>
		<h1><font size = "15" color = "#A00000"> Don't worry for we are there </font></h1>
		<p>We are always there to help you&nbsp<a href="http://google.com" target="_blank">GOOGLE</a></p>
		<p>contact us at kemsgroup@gmail.com</p>
	</body>
</html>


