<% provide(:title, 'kitchen') %>
<html>
	<body>
		<div class="center hero-unit">
			<h1><font size = "20" color = "#A00000">Welcome to kitchen design</font></h1>
			<p>Design your dream kitchen&nbsp<a href="http://google.com" target="_blank">GOOGLE</a></p>
		</div>
	</body>
</html>