<% provide(:title, 'kitchen') %>
<html>
	<body>
		<div class="center hero-unit">
			<h1>Welcome to kitchen design</h1>
			<p>Design your dream kitchen&nbsp<a href="http://google.com" target="_blank">GOOGLE</a></p>
		</div>
	</body>
</html>