<% provide(:title, 'nutrition') %>
<!DOCTYPE html>
<html>
	<body>
		<div class="center hero-unit">
			<h1><font size = "15" color = "#A00000">Nutrition </font></h1>
			<p>Here are some healthy tips that you can follow to maintain your health &nbsp <a href="http://google.com" target="_blank">GOOGLE</a></p>
			<p><font>Have fun cooking </font></p>
			<p> We provide professional dietician for you </p>
		</div>
	</body>
</html>


